body {
    
    margin: 0;
    position: absolute;
    top: 7%;
    left: 30%;
}

aside {
    float: right;
    margin-right: 150px;
    margin-left: 10px;
}

.textcolor {
    margin-top:10px;
}
.textcolor input{
	margin-left: 15px;
	
}

.cols{
	background-color: red;
}


table{
    width: 100%;
}

td{
    padding: 1px;
    text-align: center;
    border: 1px solid black;
}

