
body{
	
	background-color: #67655a;
	margin: 0;   
    position: absolute;
    top: 7%;
    left: 33%;
}

header{
	color:white;
	background-color:#313131;
	width: 411px;
	border: solid #686969;
	text-align:center;
	letter-spacing:5px;
	text-transform: uppercase;
	font-family: calibri;
}
form{
	width: 480px;

}

section {
    margin-top: 18px;
}

button{
	width: 80px;
	height: 60px;
	padding-top:1px;
	margin top:27px;
	font-size: 25px;
	font-family: calibri;
	font-style:bold; 
	border: solid 1px;
	border-color:gray;

}
input{
    width: 413px;
    height: 60px;
    margin-bottom: -15px;
    /*background-color:#e0e6b8;*/
}

button:hover{
	color: gray;

}

aside{
	float: right;
	width: 80px;
	margin-top: 18px;
	margin-right:63px;
	
}

aside button{
	height: 122px;
	background-color:#ffeb3b;
	color;#802400;
}

aside button:hover{
	color:silver;
}


/*article button{
	width:50px;
}
*/

button[name=zero]{
	width: 164px;
}

button[name=dot]{
	height: 120px;
}