body {
        font size: 50px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

#head{
    background-color:rgb(11, 62, 79);
}

.logo{
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color:#3e4a4e;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#232a2d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#title{
    text-align: center;
}
section{
    width: 60%;
    
}

article{
    text-align: justify;
}

article h2{
    color:rgb(11, 62, 79); 
}


.side {
    float: right;
    width: 30%;
    color: black;
    text-align: center;
    position: relative;
    margin-top: -210px;
    margin-right: 50px;
    list-style-type: none;
    background-color:#ffffff;
    box-shadow: 2px 2px 2px 2px #eaecef;
}

.side li a{
    color:rgb(11, 62, 79); 
    font-family:Georgina;
    font-size: 23px;


}

.side li a:hover {
    color: rgb(86, 91, 93);
    
}

.side li a:active {
    color: red;
    
}



 h3{
    color:rgb(11, 62, 79); 
    font-size: 40px;       
}

ul{
    list-style-type: none;

}




footer {
    background-color:#1b1919;
    width: 100%;
    text-align: center;
    position: relative;
    color:white;
    overflow: hidden;
    
}

.content h1{
 font-size: 30px;
 background-color: rgb(58, 70, 76);
 color: white;
 text-align: center;
}

.content p{
 font-style:italic;
 font-size: 20px;
 color:rgb(11, 62, 79);

 .content article{
    background-color: red;
 }