body{

	background-color: gray;
	font-family: calibri;
}

 main {
	margin:auto;
	display: block;
	width:940px;
	
}

header{
	height: 60px;
	background-color: white;
}
header h1{
	padding: 1.5%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav img{
	padding-top: 8px;
	width:30px;
	margin-left:560px;
}
article img{
	padding: 20px 0px;
	width: 940px;
	height: 380;
}

section{
	background-color: white;
	margin-right: 2.2%;
	margin-bottom: 10px;
	padding: 1%;
	width:29%;
	float:left;
	

}
article{
	border-width: 1px;

}

article section{
	background-color: white;
	margin:0;
	width:65%;
	float:left;
	text-align: justify;

}
article aside{
	width:32%;
	float:left;
}

article aside{
	padding-bottom: 20px;
	height: 259px;
	float:left;
	background-color: white;
}

aside ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 280px;
    background-color: #f1f1f1;
}

aside li a {
    display: block;
    color: #000;
    padding: 16px 20px;
    text-decoration: none;

}

div h1{
	float:right;
	width: 100%;
}
div section{
	margin:.2%;
	padding: 0;
	width: 24.6%;
	float:left;
}

div section img{
	margin:0;
	padding:0;
	width:100%;
}

footer
{
	margin-top: 1%;
	background-color: white;
	float:left;
	width: 100%;
	
}
footer p
{
	padding: .5% 1%;
	
}